.card {
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 60%;
  margin: 50px auto;
  background: var(--medium);
  border: 5px solid var(--orange);
  border-radius: 3px;
}

.image {
  position: relative;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left top;
  transition: all 0.5s ease-in-out;
}

.image > img {
  width: 20em;
  height: 28em;
}

.title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #fffc;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* box-shadow: 0 -95px 28px -25px #000 inset; */
}

.desc {
  height: 22%;
  width: 95%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #fffc;
  padding: 15px 10px;
  position: relative;
  bottom: 0;
  left: 10px;
  /* box-shadow: 0 -95px 28px -25px #000 inset; */
}
