.card-order-box {
  background-color: var(--boxAlpha);
  max-width: 90%;
  height: 5rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.poster {
  display: flex;
  flex-direction: column;
}

.poster > img {
  width: 3rem;
  height: 4rem;
}
