.card-order-box {
  background-color: var(--boxAlpha);
  max-width: 90%;
  height: 5rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-order .img {
  max-height: 90%;
  max-width: 90%;
}
