.display-movies {
  color: white;
  margin: auto;
  max-width: 90%;
}

.display-movies-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 7px) {
  .display-movies-grid {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}
